In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("TempLinkoping2016.txt" , sep = "\t" )

In [6]:
df

         time  temp
0    0.002732   0.1
1    0.005464  -4.5
2    0.008197  -6.3
3    0.010929  -9.6
4    0.013661  -9.9
..        ...   ...
361  0.989071   2.7
362  0.991803  -0.4
363  0.994536   4.3
364  0.997268   7.0
365  1.000000   9.3

[366 rows x 2 columns]

In [7]:
condition = df["temp"] < 0
df.loc[condition,"temp"] = 0.0

In [8]:
df

         time  temp
0    0.002732   0.1
1    0.005464   0.0
2    0.008197   0.0
3    0.010929   0.0
4    0.013661   0.0
..        ...   ...
361  0.989071   2.7
362  0.991803   0.0
363  0.994536   4.3
364  0.997268   7.0
365  1.000000   9.3

[366 rows x 2 columns]